@page "{title=Conway}"
@using Net.fm.Data;
@model Net.fm.Pages.ConwayModel
@{
    ViewData["Title"] = "Conway's Game of Life";
}

<h1>@ViewData["Title"]</h1>

<div class="cell-container" id="conwayContainer" style="grid-template-columns: repeat(@((int)Math.Sqrt(ViewData.Model.cellGrid.cellArray.Length)),1fr);">
    @{int index = 0;}
    @foreach (Cell cell in ViewData.Model.cellGrid.cellArray )
    {
        <div id ="@index" class="cell-item @cell.GetStatusClass()" onclick="toggleCellStatus(id)"></div>
        index++;
    }
</div>

<button class="btn btn-secondary" id="startButton">click</button>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/bind.js"></script>
