@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <span style="color: white;">below are a few projects I've been working on.</span>

    <div class="grid-container">
        <a href="/Conway" title="Conway's game of life" >
            <div class="grid-item">
                <img src="~/content/thebees2.gif" />
            </div>
        </a>
        <a href="https://gitfront.io/r/user-1299430/EH1taeanJhBS/Operating-System-Simulator/" title="Operating System Simulator">
            <div class="grid-item"></div>
        </a>
        <a href="https://gitfront.io/r/user-1299430/h7RM56yuNtpR/K-means-CS470/" title="Kmeans Clustering Algorithm">
            <div class="grid-item">
                <img src="~/content/5clusterassignment.PNG" />
            </div>
        </a>
        <a href="https://gitfront.io/r/user-1299430/HwDn98KSqgFW/CS-465/" title="Distributed Systems">
            <div class="grid-item">
                <img src="~/content/Client-server-model.svg.png" />
            </div>
        </a>
        <a href="https://gitfront.io/r/user-1299430/Hwec1N9MAj7h/VICE/" title="Validation Infrastructure in a Cloud Environment">
            <div class="grid-item">
                <img src="~/content/westerndigital.png" />
            </div>
        </a>

    </div>
</div>
