html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
    /*background: linear-gradient(-135deg, #313E51, #304C75, #225297, #0E5AC9);*/
    background-color:black;
    background-size: 400% 400%;
    /*animation: gradient 40s ease infinite;*/
    height: 100vh;
    display: table;
    width:100%;
}

body > footer {
    display: table-row;
}

nav {
    background-color: #26232B;
    border-bottom-color: black;
}

h1, h2 {
    color: white;
}

h3 {
    font-size: 27;
    line-height: 1.2;
}

img {
    width: inherit;
    height: inherit;
    max-width: 100%;
    max-height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.dropdown-container {
    margin-top: 1.9em;
    margin-left:auto;
    margin-right: 0em;
}

#sideLen {
    background-color: #1BB035;
    border: 6px solid transparent;
    border-radius: .25em;
    width: 5em;
    text-align: center;
}

footer {
    bottom:0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    height: 4em;
    position: relative !important;
}

.footer-container {
    margin-right: 7em;
    width: 12em;
    height: 5%;
    display: flex;
    float: right;
    padding-inline: 3em;
}

.footer-item {
    padding-left: 2em;
}

.flip-card {
    background-color: transparent;
    width: 21em;
    height: 15em;
    perspective: 1000px;
    margin:auto;
}

.flip-card-inner {
    border-color: #9FBAE2;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.45s cubic-bezier(.47, 1.5, .7, 1.0);
    transform-style: preserve-3d;
}

.flip-card-inner:hover {
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #9FBAE2;
    border-color: #9FBAE2;
    color: black;
}

.flip-card-back {
    background-color: #9EEBAC;
    border-color: #9EEBAC;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back > * {
    text-align: center;
    font-family: 'Courier New', monospace;
}

#glcanvas {
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(21em,100%),1fr));
    grid-template-rows: auto;
    column-gap: 1em;
    row-gap: 1em;
    margin-top: 2em;
    height: 32em;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: white black;
}

.grid-item {
    border-style: solid;
    border-width: .75em;
    border-radius: 1em;
    height: 15em;
    width: 21em;
}

.grid-item:hover {
}

.cell-container {
    margin: auto;
    display: grid;
    width: min-content;
    grid-column-gap: 0px;
    border-style: solid;
    border-color: #132847;
    border-width: 1em;
    border-radius: 0.5em;
    margin-top: 1.5em;
}

.cell-item {
    outline: 1px solid;
    outline-color: rgba(0,0,0,1);
    aspect-ratio: 1;
    height: 1.5em;
    background-color: white;
}

.cell-item.alive:hover {
    background-color: #5F5F5F;
}

.cell-item.dead:hover {
    background-color: lightgrey;
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

.button-container {
    display: inline-block;
    margin: auto;
    position: relative;
    left: 42.4%;
    margin-top: 1em;
}

.slide-container {
    width: 60%;
    margin-top: 1em;
    margin:auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .5em;
    background: #9EEBAC;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #60BB70;
    cursor: pointer;
    border-radius: 1em;
    border-color: white;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #60BB70;
    cursor: pointer;
    border-radius: 1em;
    border-color: white;
}

div > ::-webkit-scrollbar {
    width: 0.7em;
    background-color: black;
    -webkit-box-shadow: inset 0 0 1px 2px rgba(255,255,255,0.45);
    border-radius: 10px;
}

div > ::-webkit-scrollbar-track {
    border-radius: 10px;
}
div > ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 0 2px rgba(255,255,255,0.75);
    border-radius: 10px;
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #60BB70;
    cursor: pointer;
    border-radius: 1em;

}